Flask==3.0.0
Flask-SQLAlchemy==3.1.1
reportlab==4.0.7
qrcode==7.4.2
Pillow==10.1.0
python-dotenv==1.0.0
psycopg2-binary==2.9.9
python-docx==1.1.0
docx2pdf==0.1.8
mammoth>=1.6.0
weasyprint>=60.2
minio>=7.2.0
cairosvg>=2.7.0
# pywin32 только для Windows (установите вручную на Windows: pip install pywin32)
